#### Libraries

In [1]:
import pandas as pd
import numpy as np
import os


# Max column
pd.set_option('display.max_columns', None)

In [2]:
#Location of file
os.getcwd()

'C:\\Users\\shaikh.kamran\\ProjectPurchase'

#### Load Data

In [3]:
# Folder path containing the files
pathSpecified = "D:/Shaikh_Desktop_Mydoc/Desktop/Automation Projects/Non Commercial/All Non COmmercial reports"  # Replace with the actual folder path


# Import os module  
import os  
# Define the specified path  
  
# Using listdir() function  
listOfFileNames = os.listdir(pathSpecified)


# Print the name of all files in directory  

print("Following is the list of names of all the files present in the specified directory: ")  
print(listOfFileNames)

Following is the list of names of all the files present in the specified directory:
["Matplan_Edible Oils_Aci Edible oils Ltd_01-07_Sep'23_W1.xls", "Matplan_Edible Oils_Edible oils (narayanganj)_01-07_Sep'23_W1.xls", "Matplan_Flour_Flour Plant (unit 1)_01-07_Sep'23_W1.xls", "Matplan_Flour_Flour Plant (unit 2)_01-07_Sep'23_W1.xls", "Matplan_Foods_ACI Foods Plant(sirajgong)_01-07_Sep'23_W1.xls", "Matplan_Pharmaceuticals_ACI Pharmaceuticals Plant_01-07_Sep'23_W1.xls", "Matplan_Rice_Aci aromatic rice unit 2_01-07_Sep'23_W1.xls", "Matplan_Rice_Rice Unit (Sarshathipur)_01-07_Sep'23_W1.xls", "Matplan_Rice_Rice Unit 4 (Shenu auto rice mill)_01-07_Sep'23_W1.xls", "Matplan_Rice_Rice Unit 5 (Roma Auto Rice mill)_01-07_Sep'23_W1.xls", "Matplan_Salt_Aci salt plant_01-07_Sep'23_W1.xls", "Matplan_Seeds_Aci Seeds plant rangpur_01-07_Sep'23_W1.xls"]

In [4]:
import pandas as pd

# Folder path containing the files
folder_path = "D:/Shaikh_Desktop_Mydoc/Desktop/Automation Projects/Non Commercial/All Non Commercial reports"

# Create an empty DataFrame to store the combined data
combined_data = pd.DataFrame()

# Iterate over the file names
for file_name in listOfFileNames:
    # Construct the file path
    file_path = os.path.join(folder_path, file_name)
    # Read the file into a DataFrame
    df = pd.read_excel(file_path, header=None, index_col=False, dtype={0: str, 8: str, 9: str})
    df["BizNFac"]= df.iloc[0,0]
    df[16] = pd.to_datetime(df[16], errors='coerce')
    df[18] = pd.to_datetime(df[18], errors='coerce')
    df['Source'] = file_name
    

#     df = df.iloc[2:].reset_index(drop=True)
        
#     df.columns = df.iloc[0]
    
    # Append the DataFrame to the combined_data DataFrame
    combined_data = combined_data.append(df)



# Print the combined data
combined_data.head(6)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (66727) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (239275) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (16214) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (70119) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (33524) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_10156\3409648420.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,BizNFac,Source
0,ACI Edible Oils Limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
1,Material Receive Report From,NaN,01/09/2023,NaN,To,07/09/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
2,Code,Name,NaN,UoM,GRN No,NaN,NaN,Receive,Po No.,Invoice No,Supplier / Vendor Name,Chalan No,PO Quantity,PO Rate,Receive,VAT Chalan,NaT,VAT Amount,NaT,Accept Qty,Receive Value,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date,NaN,NaN,NaN,NaN,NaN,NaN,Quantity,No,NaT,NaN,NaT,NaN,NaN,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
4,RML0809,Rice Bran Oil,NaN,kg,129gr230900001,NaN,NaN,04-Sep-2023,2308001051,NaN,Green Oil & Poultry Feed Industries,14646,100000,154,15635,690,2023-09-02,0,2023-09-04,15635,2407790,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
0,Edible Oils (Narayanganj),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,Edible Oils (Narayanganj),Matplan_Edible Oils_Edible oils (narayanganj)_...

In [5]:
combined_data.iloc[0:3, [-1]]= "Source"
combined_data.iloc[0:3, [-2]] = "BizNFac"



# data = combined_data.iloc[4:]
# combined_data_col = combined_data.iloc[2]
# combined_data_A =  pd.DataFrame(data, columns=combined_data_col)

In [6]:
combined_data.columns = combined_data.iloc[2]
combined_data = combined_data.iloc[3:].reset_index(drop=True)
combined_data.head(4)

2,Code,Name,NaN,UoM,GRN No,NaN,NaN,Receive,Po No.,Invoice No,Supplier / Vendor Name,Chalan No,PO Quantity,PO Rate,Receive,VAT Chalan,NaT,VAT Amount,NaT,Accept Qty,Receive Value,BizNFac,Source
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date,NaN,NaN,NaN,NaN,NaN,NaN,Quantity,No,NaT,NaN,NaT,NaN,NaN,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
1,RML0809,Rice Bran Oil,NaN,kg,129gr230900001,NaN,NaN,04-Sep-2023,2308001051,NaN,Green Oil & Poultry Feed Industries,14646,100000,154,15635,690,2023-09-02,0,2023-09-04,15635,2407790,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
2,Edible Oils (Narayanganj),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,Edible Oils (Narayanganj),Matplan_Edible Oils_Edible oils (narayanganj)_...
3,Material Receive Report From,NaN,01/09/2023,NaN,To,07/09/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,Edible Oils (Narayanganj),Matplan_Edible Oils_Edible oils (narayanganj)_...

In [7]:
# Get the current column labels
columns = combined_data.columns


for i, col in enumerate(columns):
    if pd.isna(col):
        new_col = f"Column{i+1}"
        combined_data.rename(columns={col: new_col}, inplace=True)

In [8]:
combined_data.head(4)

2,Code,Name,Column3,UoM,GRN No,Column3,Column7,Receive,Po No.,Invoice No,Supplier / Vendor Name,Chalan No,PO Quantity,PO Rate,Receive,VAT Chalan,Column17,VAT Amount,Column17,Accept Qty,Receive Value,BizNFac,Source
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date,NaN,NaN,NaN,NaN,NaN,NaN,Quantity,No,NaT,NaN,NaT,NaN,NaN,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
1,RML0809,Rice Bran Oil,NaN,kg,129gr230900001,NaN,NaN,04-Sep-2023,2308001051,NaN,Green Oil & Poultry Feed Industries,14646,100000,154,15635,690,2023-09-02,0,2023-09-04,15635,2407790,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
2,Edible Oils (Narayanganj),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,Edible Oils (Narayanganj),Matplan_Edible Oils_Edible oils (narayanganj)_...
3,Material Receive Report From,NaN,01/09/2023,NaN,To,07/09/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,Edible Oils (Narayanganj),Matplan_Edible Oils_Edible oils (narayanganj)_...

In [9]:
combined_data['Source'].unique()

array(["Matplan_Edible Oils_Aci Edible oils Ltd_01-07_Sep'23_W1.xls",
       "Matplan_Edible Oils_Edible oils (narayanganj)_01-07_Sep'23_W1.xls",
       "Matplan_Flour_Flour Plant (unit 1)_01-07_Sep'23_W1.xls",
       "Matplan_Flour_Flour Plant (unit 2)_01-07_Sep'23_W1.xls",
       "Matplan_Foods_ACI Foods Plant(sirajgong)_01-07_Sep'23_W1.xls",
       "Matplan_Pharmaceuticals_ACI Pharmaceuticals Plant_01-07_Sep'23_W1.xls",
       "Matplan_Rice_Aci aromatic rice unit 2_01-07_Sep'23_W1.xls",
       "Matplan_Rice_Rice Unit (Sarshathipur)_01-07_Sep'23_W1.xls",
       "Matplan_Rice_Rice Unit 4 (Shenu auto rice mill)_01-07_Sep'23_W1.xls",
       "Matplan_Rice_Rice Unit 5 (Roma Auto Rice mill)_01-07_Sep'23_W1.xls",
       "Matplan_Salt_Aci salt plant_01-07_Sep'23_W1.xls",
       "Matplan_Seeds_Aci Seeds plant rangpur_01-07_Sep'23_W1.xls"],
      dtype=object)

In [10]:
# Rename the columns
MonthlyData = combined_data.rename(columns={'Receive': 'Receive Date', 
                                          'Receive.1': 'Receive Quantity', 
                                          'QC Received': 'QC Received On' ,
                                         'VAT Chalan' : 'VAT Chalan No', 
                                          'Vat Chalan' : 'Vat Chalan Date'})


MonthlyData.columns

Index(['Code', 'Name', 'Column3', 'UoM', 'GRN No ', 'Column3', 'Column7',
       'Receive Date', 'Po No.', 'Invoice No', 'Supplier / Vendor Name',
       'Chalan No', 'PO Quantity', 'PO Rate', 'Receive Date', 'VAT Chalan No',
       'Column17', 'VAT Amount', 'Column17', 'Accept Qty', 'Receive Value',
       'BizNFac', 'Source'],
      dtype='object', name=2)

In [11]:
# Iterate over each row in reverse order
for i in range(len(MonthlyData) - 1, 0, -1):
    if pd.isnull(MonthlyData.loc[i, 'Code']):
        # Append the values to the immediate previous row
        prev_name = str(MonthlyData.loc[i-1, 'Name'])
        current_name = str(MonthlyData.loc[i, 'Name'])
        MonthlyData.loc[i-1, 'Name'] = prev_name + ' ' + current_name
        
        # Drop the current row
        MonthlyData.drop(i, inplace=True)

# Reset the index of the DataFrame
MonthlyData.reset_index(drop=True, inplace=True)

# Print the updated DataFrame
MonthlyData.head(4)

2,Code,Name,Column3,UoM,GRN No,Column3,Column7,Receive Date,Po No.,Invoice No,Supplier / Vendor Name,Chalan No,PO Quantity,PO Rate,Receive Date,VAT Chalan No,Column17,VAT Amount,Column17,Accept Qty,Receive Value,BizNFac,Source
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date,NaN,NaN,NaN,NaN,NaN,NaN,Quantity,No,NaT,NaN,NaT,NaN,NaN,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
1,RML0809,Rice Bran Oil,NaN,kg,129gr230900001,NaN,NaN,04-Sep-2023,2308001051,NaN,Green Oil & Poultry Feed Industries,14646,100000,154,15635,690,2023-09-02,0,2023-09-04,15635,2407790,ACI Edible Oils Limited,Matplan_Edible Oils_Aci Edible oils Ltd_01-07_...
2,Edible Oils (Narayanganj),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,Edible Oils (Narayanganj),Matplan_Edible Oils_Edible oils (narayanganj)_...
3,Material Receive Report From,NaN,01/09/2023,NaN,To,07/09/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN,Edible Oils (Narayanganj),Matplan_Edible Oils_Edible oils (narayanganj)_...

In [12]:
MonthlyData.columns

Index(['Code', 'Name', 'Column3', 'UoM', 'GRN No ', 'Column3', 'Column7',
       'Receive Date', 'Po No.', 'Invoice No', 'Supplier / Vendor Name',
       'Chalan No', 'PO Quantity', 'PO Rate', 'Receive Date', 'VAT Chalan No',
       'Column17', 'VAT Amount', 'Column17', 'Accept Qty', 'Receive Value',
       'BizNFac', 'Source'],
      dtype='object', name=2)

* Trim data

In [13]:
#Remove nan from the Name column

MonthlyData['Name'] = MonthlyData['Name'].str.replace(' nan', '')

# Trim the columns "Code", "Name", and "UMO"
MonthlyData['Code'] = MonthlyData['Code'].str.strip()
MonthlyData['Name'] = MonthlyData['Name'].str.strip()
MonthlyData['UoM'] = MonthlyData['UoM'].str.strip()

#### Output Data

In [14]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
# path = 
writer = pd.ExcelWriter(r'C:\Users\shaikh.kamran\ProjectPurchase\OutPutFiles\NonCom_20230910_02.xlsx', engine='xlsxwriter')

# Write the MonthlyData DataFrame to a worksheet.
MonthlyData.to_excel(writer, sheet_name='NonCom', index=False)

# Save the writer and close it.
writer.save()
writer.close()

C:\Users\shaikh.kamran\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [15]:
# Issues needs to solve Received date , there are 2 columns in same name and